body {
    background-color: white;
    height: 100%;
    color: black;
    margin: 0;
    padding: 0;
}

html { 
    height: 100%;
}

h1 {
    color: navy;
    text-align: center;
}

p {
    margin-left: 20px;
}

#map {
    position: absolute;
    width: 90%;
    height: 80%;
    border:5px solid;
}

.marker {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
  }